<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>FlexFlix</title>
</head>
<body>

</body>
<html>
    <main>
        <aside id="left">
            <header>
                <h2>Popular on Flexflix</h2>
                <h1>FLEXFLIX</h1>
            </header>
            <section id="main-movie" style="background: url('https://townsquare.media/site/622/files/2011/11/allavengerssdccposter.jpg') center center no-repeat;
            background-size: cover;">
                <h2>Avengers</h2>
                <p>Action, Sci-fi</p>
                <div style="position: relative;">
                    <a href=""><button>Watch Now</button></a>
                    <a href="" id="add" style="position: absolute; left: 140px; top: 0;">+</a>
                </div>
            </section>
            <section id="thriller" class="movie">
                <p>Thriller</p>
                <div>
                    <article style="background: url('https://m.media-amazon.com/images/M/MV5BZjdmZDlkMzItNTg0OS00MjAxLWE0ZTQtZjdhOWM1MTJkOTc0XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg') center center no-repeat; background-size: cover;">
                        <h3>Run</h3>
                        <a href=""><button>Watch Now</button></a>
                    </article>
                    <article style="background: url('https://m.media-amazon.com/images/M/MV5BM2Y5ZWE2MTMtODE3ZC00NWQ4LWJkNzctNGY4Njg5NDY5MzNlXkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_.jpg') center center no-repeat; background-size: cover;">
                        <h3>Wrong turn</h3>
                        <a href=""><button>Watch Now</button></a>
                    </article>
                </div>
            </section>
    </main>

</html>