<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>FlexFlix</title>
</head>
<body>

</body>
<html>
    <main>
        <aside id="left">
            <header>
                <h2>Popular on Flexflix</h2>
                <h1>FLEXFLIX</h1>
            </header>
            <section id="main-movie" style="background: url('https://townsquare.media/site/622/files/2011/11/allavengerssdccposter.jpg') center center no-repeat;
            background-size: cover;">
                <h2>Avengers</h2>
                <p>Action, Sci-fi</p>
                <div style="position: relative;">
                    <a href=""><button>Watch Now</button></a>
                    <a href="" id="add" style="position: absolute; left: 140px; top: 0;">+</a>
                </div>
    </main>

</html>